<div class="mb-3" id="imageCropContainer" style="display: none;">
    <img id="croppingImage" src="#" class="img-fluid border d-block mb-2" style="max-height: 300px;" />
    <canvas id="croppedCanvas" class="d-none"></canvas>
    <input type="hidden" id="croppedImageData" name="CroppedImage" />
</div>
