@{
    Layout = "~/Views/Shared/_UserFormLayout.cshtml";
}

@model UserCreateViewModel

<div class="container">
    <form asp-action="Create" method="post" enctype="multipart/form-data" class="p-4 shadow rounded bg-light" style="max-width: 600px; margin: auto;">
        <h4 class="mb-4">Реєстрація користувача</h4>

        <div class="mb-3 text-center">
            <label for="ImageFile" class="d-block">
                <img id="defaultAvatar"
                     src="/images/defaultAvatar.jpg"
                     alt="Аватар"
                     class="rounded-circle border"
                     style="width: 150px; height: 150px; object-fit: cover; cursor: pointer;" />

                <div id="croppedPreview"
                     class="rounded-circle border d-none mx-auto"
                     style="width: 150px; height: 150px; object-fit: cover; overflow: hidden; cursor: pointer"></div>
            </label>

            <input asp-for="ImageFile"
                   type="file"
                   accept="image/*"
                   class="d-none"
                   id="ImageFile" />
            <input type="hidden" id="croppedImageData" name="CroppedImage" />
        </div>

        @await Html.PartialAsync("_UserImageCropper")   

        <div class="mb-3">
            <label asp-for="FirstName" class="form-label"></label>
            <input asp-for="FirstName" class="form-control" placeholder="Введіть ім’я" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="LastName" class="form-label"></label>
            <input asp-for="LastName" class="form-control" placeholder="Введіть прізвище" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Login" class="form-label"></label>
            <input asp-for="Login" class="form-control" placeholder="Придумайте логін" />
            <span asp-validation-for="Login" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Email" class="form-label"></label>
            <input asp-for="Email" class="form-control" placeholder="example@email.com" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Phone" class="form-label"></label>
            <input asp-for="Phone" class="form-control" placeholder="+380..." />
            <span asp-validation-for="Phone" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Password" class="form-label"></label>
            <input asp-for="Password" class="form-control" placeholder="Введіть пароль" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">Зареєструватися</button>
        <a asp-action="Index" class="btn btn-info">Назад</a>
    </form>
</div>


@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/imask/7.6.1/imask.min.js"></script>

    <script>
        IMask(
            document.getElementById('Phone'),
            {
                mask: '+{38}(000)000-00-00'
            }
        )
    </script>
}