@{
    Layout = "~/Views/Shared/_UserFormLayout.cshtml";
}

@model UserCreateViewModel

<div class="container">
    <form asp-action="Create" method="post" enctype="multipart/form-data" class="p-4 shadow rounded bg-light" style="max-width: 600px; margin: auto;">
        <h4 class="mb-4">Реєстрація користувача</h4>

        <div class="mb-3">
            <label asp-for="FirstName" class="form-label">Ім’я</label>
            <input asp-for="FirstName" class="form-control" placeholder="Введіть ім’я" required />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="LastName" class="form-label">Прізвище</label>
            <input asp-for="LastName" class="form-control" placeholder="Введіть прізвище" required />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Login" class="form-label">Логін</label>
            <input asp-for="Login" class="form-control" placeholder="Придумайте логін" required />
            <span asp-validation-for="Login" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Email" class="form-label">Email</label>
            <input asp-for="Email" type="email" class="form-control" placeholder="example@email.com" required />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Phone" class="form-label">Телефон</label>
            <input asp-for="Phone" type="tel" class="form-control" placeholder="+380..." required />
            <span asp-validation-for="Phone" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Password" class="form-label">Пароль</label>
            <input asp-for="Password" type="password" class="form-control" placeholder="Введіть пароль" required />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for=ImageFile class="form-label"></label>
            <input asp-for=ImageFile type="file" class="form-control" accept="image/*" placeholder="https://example.com/image.jpg">
            <span asp-validation-for="ImageFile" class="text-danger"></span>
        </div>

        @await Html.PartialAsync("_UserImageCropper")

        <button type="submit" class="btn btn-primary">Зареєструватися</button>
        <a asp-action="Index" class="btn btn-info">Назад</a>
    </form>
</div>
