@{
    Layout = "~/Views/Shared/_FormLayout.cshtml";
}

@model CategoryEditViewModel

<div class="container">
    <form asp-action="Edit" enctype="multipart/form-data" class="p-4 shadow rounded bg-light" style="max-width: 600px; margin: auto;">
        <h4 class="mb-4">Редагування категорії</h4>

        <div class="mb-3">
            <label asp-for=Name class="form-label"></label>
            <input asp-for=Name type="text" class="form-control" placeholder="Введіть назву категорії" required>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for=Description class="form-label"></label>
            <textarea asp-for=Description class="form-control" rows="4" placeholder="Введіть опис категорії"></textarea>
        </div>

        <div class="mb-3">
            <label asp-for=IsImageChanged>Змінювати зображення</label>
            <input asp-for=IsImageChanged type="checkbox" class="form-check-input" />
        </div>

        <div class="mb-3">
            <label asp-for=ImageFile class="form-label"></label>
            <input disabled asp-for=ImageFile type="file" class="form-control" accept="image/*">
        </div>

        <div class="mb-3 text-center">
            <img id="oldImage" src="/images/1200_@ViewBag.ImageUrl" class="img-fluid" style="max-height: 200px;" />
        </div>

        @await Html.PartialAsync("_ImageCropper")

        <button type="submit" class="btn btn-primary">Редагувати</button>
        <a asp-action="Index" class="btn btn-info">Скасувати</a>
    </form>

</div>

@section Scripts {
    <script>
        const imageCB = document.getElementById("IsImageChanged");
        const imageInput = document.getElementById("ImageFile");
        const imageCropContainer = document.getElementById("imageCropContainer");

        imageCB.addEventListener("change", function () {
            imageInput.disabled = !this.checked;

            const oldImage = document.getElementById("oldImage");
            oldImage.style.display = this.checked ? "none" : "inline-block";
            if(imageCropContainer)
            {
                imageCropContainer.style.display = this.checked ? "inline-block" : "none";
            }
        });
    </script>
}
